@model IEnumerable<Rocky.Models.Category>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Todo List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Create New Task
            </a>
        </div>
    </div>

    <br /><br />

    @if(Model.Count() > 0)
    {
        <div class="border p-2 rounded">
            <table class="table table-hover" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Task
                        </th>
                        <th>
                            Created
                        </th>
                        <th>
                        
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var obj in Model)
                    {
                        <tr>
                            <td width="50%"><input type="checkbox" /> @obj.Name</td>
                            <td width="30%">@obj.created</td>
                            <td class="text-center">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Category" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary mx-2">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a asp-controller="Category" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                        <i class="fas fa-minus-circle"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                  
                    }
                </tbody>

            </table>
        </div>
    }
    else
    {
        <p>No category exists.</p>
    }

</div>